<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body class="main">
    <h1><%= title %></h1><br><br>
    <a href="/posts" class="main">Feed</a> <br><br>
    <p> Camera Eats First is a place where you can post pictures of all your meals. <br><br>
      Because that's a normal thing to do right?<br>Whip your phone out and take a picture of your meal before you eat it? <br> <br>
      Everytime I go out to eat with my girlfriend she needs to take a pic of our food <br>
      so babe, this was made specifically for you </p>
  </body>
</html>
