* {
  box-sizing: border-box;
  font-family: Helvetica;
  color: #201d1d;
}

body {
  margin: 0;
  height: 0vh;
  display: grid;
  grid-template-rows: 50px 1fr;
  grid-template-areas: 
    "nav"
    "main"
}

.login img, .login-user img {
  height: 20px;
}

.login-message img {
  height: 20px;
}

nav {
  grid-area: nav;
  background-color: #090a0b;
  color: antiquewhite;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px 0 30px;
}

.login {
  display: flex;
  justify-content: flex-end;
}

nav > img {
  width: 34px;
  object-fit: contain;
  margin-right: auto;
}
nav > a {
  margin: 30px;
  text-decoration: none;
  color: rgb(156, 105, 39);
  padding: 10px;
  border-radius: 5px;
}

nav > a:hover:not(.active) {
  color: white;
  background-color: #424748;
}

nav > a.active {
  color: white;
  cursor: default;
}

.comment-user img {
  border-radius: 50%;
  height: 40px;
}

html.edit {
  background-color: rgba(156, 105, 39, 0.475);

}
html {
  background-color: rgba(156, 105, 39, 0.475);
}

body > h1 {
  text-align: center;
  font-style: italic;
}

table.table-index {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items:flex-start;
 
}

tbody {
  padding: black;
}
tr {
  flex-basis: 33.33333333%;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  padding: 5px 5px;
  width: 600px;
  border-radius: 1%;
  background: #000000;
  box-shadow: inset 0 0 0 10px rgba(47, 47, 47, 0.435);
}


  td {
  flex-basis: 100%;
  text-align: left;
  display: flex;
  padding: 1px;
  border: 9px solid rgba(0, 0, 0, 0.925);
  background-color: rgba(0, 0, 0, 0.925);
  color: white;
  }

  img {
    color: white;
    
  }

  td.title {
    font-style: oblique;
  }

 tr.tr-comments {
  text-align: center;
  background: #000000;
 }

 tr.comment-user {
  color:rgb(156, 105, 39)
 }

 td.date-of-comment {
  font-size: small;
 }

 section#show-page {
  flex-basis: 90%;
  text-align: left;
  padding: 5px;
  box-shadow: inset 0 0 0 6px rgba(47, 47, 47, 0.435);
  background: #000000;
  width: 600px;
  border: 5px;
  border-radius: 1%;
 }

 div.title, div.image, div.username, div.description, strong {
  text-align: left;
  padding: 1px;
  border: 9px solid rgba(0, 0, 0, 0.925);
  background-color: rgba(0, 0, 0, 0.925);
  color: white;
 }

 div.title {
  font-style: oblique;
 }

 h2.comment {
  padding: 0px 10px;
 }
  
 h5 {
  padding: 0px 15px;
 }


 td.post-user {
  width: 50%
 }

 a {
  color: rgb(26, 26, 220)
 }

 a.main {
  font-weight: 600;
  font-size: larger;
 }

 form#add-comment-form {
  padding: 5px;
 }

 form.new {
  flex-basis: 100%;
  text-align: center;
 }

 input.description {
  width: 25%;
  padding: 10px 5px;
  resize: none;

 }

 input.image {
  padding: 2px 12px;
 }

 label {
  font-weight: 600;
  font-style: italic;
 }

h5.alt-signin {
  flex-basis: 100%;
  text-align: center;
  font-size: larger;
}

a.login-message {
  flex-basis: 100%;
  text-align: center;
}

img.post-user {
  width: 15%;
}

body.main {
  flex-basis: 100%;
  text-align: center;
}